.nav-search {
  position: relative;
  background-color: $dark;
  font-size: $ruler;
  width: 320px;
  display: flex;
  align-items: center;

  @include m-mobile {
    width: 100%;
    margin-top: 10px;
  }
}

.nav-search__icon,
::placeholder {
  color: $darkLighter;
}

.nav-search__icon {
  display: inline-block;
  padding: 10px;
  background-color: $darker;
  margin: 1px;
  cursor: pointer;
}

.nav-search__input {
  padding: 10px;
  font-size: $ruler;
  width: 100%;
  background-color: transparent;
  color: $gray;
  outline: 0;
  border: 0;
}
