.nav {
  height: $height-nav;
  background-color: $dark;
  color: $dark;
  width: 100%;
  border: 0;
  overflow: hidden;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include m-mobile {
    height: $height-nav * 2;
  }
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;

  @include m-mobile {
    padding: 0 $ruler/1.4;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.nav__section {
  display: flex;
  align-items: center;

  @include m-mobile {
    width: 100%;
    justify-content: center;
  }
}

.nav__logo__icon {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  color: $white;
}

.nav__logo__text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: -1px;
  color: $white;

  &:hover {
    text-decoration: none;
  }
}

@include m-mobile {
  .nav__logo__icon,
  .nav__logo__text {
    font-size: 18px;
  }
}
