.nav {
  height: $height-nav;
  background-color: $darker;
  color: $dark;
  width: 100%;
  border: 0;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include m-mobile {
    height: $height-nav * 1.6;
  }
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;

  @include m-mobile {
    padding: 0 $ruler/1.4;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.nav__section {
  display: flex;
  align-items: center;

  @include m-mobile {
    width: 100%;
    justify-content: center;
  }
}

.nav__logo__text {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: $yellow;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

@include m-mobile {
  .nav__logo__text {
    font-size: 18px;
    margin-top: 10px;
  }
}
