.nav {
  background-color: $dark;
  color: $dark;
  padding: $ruler * 1.2;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.nav__section {
  display: flex;
  align-items: center;
}

.nav__logo__icon {
  display: block;
  width: 40px;
  margin: 0 auto;
  font-size: 30px;
  color: $white;
}

.nav__logo__text {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 22px;
  letter-spacing: -1px;
  color: $white;

  &:hover {
    text-decoration: none;
  }
}
