.player {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $white;
  transition: 0.3s;

  @include m-mobile {
    background-color: $dark;
  }
}

.player__inner {
  display: flex;
  padding: 10px 0;

  @include m-mobile {
    padding: 6px 0;
  }
}

.player__section {
  display: flex;
  align-items: center;

  & + & {
    margin-left: 18px;
  }

  @include m-mobile {
    width: 100%;
  }
}

.player__section--slider {
  flex: 1;
}

.player__section--volume {
  width: 100px;
}

.player__section--song {
  width: 320px;

  @include m-mobile {
    width: 70%;
  }
}

.player__section--slider,
.player__section--volume,
.player__section__toggle-volume,
.player__section--time {
  @include m-mobile {
    display: none;
  }
}

.player__buttons {
  display: flex;

  @include m-mobile {
    flex: 1;
    justify-content: flex-end;
    padding-right: 25px;
  }
}

.player__button {
  cursor: pointer;
  color: $dark;
  width: 30px;
  text-align: center;

  & + & {
    margin-left: 12px;
  }

  @include m-mobile {
    color: $white;
    width: auto;
    cursor: default;

    & + & {
      margin-left: 20px;
    }
  }
}

.player__button--active {
  color: $orange;
}

.player__song {
  display: flex;
  align-items: center;
  width: 100%;

  @include m-mobile {
    order: 1;
  }
}

.player__song__artwork {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0 10px;
  transform: rotate(0);
}

.player__song__artwork--circle {
  animation: circle 20s infinite linear;
}

@keyframes circle {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.player__song__details {
  overflow: hidden;
}

.player__song__username {
  color: $darkLighter;
}

.player__song__title {
  color: $dark;
}

.player__song__title,
.player__song__username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include m-mobile {
    color: $white;
  }
}
