.songs {
  margin-top: $height-nav;
  padding: 12px 0;
  overflow-x: auto;

  @include m-mobile {
    margin-top: $height-nav * 1.6;
    padding: 0;
  }
}

.songs--light {
  background-color: $white;
}
