.song-card {
  width: 205px;
  border: 1px solid $gray;
  margin: 10px;

  @include m-mobile {
    width: 100%;
    margin: 10px 0;
    border-left: 0;
    border-right: 0;
  }
}

.song-card--active {
  border: 1px solid $dark;
}

.song-card__inner {
  padding: 10px;

  @include m-mobile {
    display: flex;
    align-items: center;
  }
}

.song-card__artwork {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 10px;

  @include m-mobile {
    width: 50px;
    height: 46px;
    margin: 0 10px 0 0;
    flex-shrink: 0;
  }
}

.song-card__body {
  flex-wrap: nowrap;
}

.song-card__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;

  @include m-mobile {
    display: none;
  }
}

.song-card__details {
  overflow: hidden;
  flex: 1;
}

.song-card__title,
.song-card__username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $dark;
  font-size: 14px;
  margin-bottom: 2px;

  @include m-mobile {
    font-size: 12px;
  }
}

.song-card__username {
  color: $darkLighter;
}
